---
import { type INode } from "@tm9657/flow-like-ui";
import { FlowPreview } from "@tm9657/flow-like-ui/components/flow/flow-preview";
---

<p>Preview</p>
<FlowPreview client:load nodes={[
    {
      "id": "kknf6ey5u4sklq073gcd5ekc",
      "name": "string_format",
      "friendly_name": "Format String",
      "description": "10799779492763783875",
      "coordinates": [
        995.02844,
        42.894966,
        0
      ],
      "category": "Utils/String",
      "scores": null,
      "pins": {
        "rgvbkd8whgkd6ft6bbnn7ehl": {
          "id": "rgvbkd8whgkd6ft6bbnn7ehl",
          "name": "Name",
          "friendly_name": "Name",
          "description": "16248035215404677707",
          "pin_type": "Input",
          "data_type": "String",
          "schema": null,
          "valid_values": null,
          "value_type": "Normal",
          "depends_on": [
            "i8x5vnz4wmueduy2meqxtndc"
          ],
          "connected_to": [],
          "default_value": null,
          "index": 3,
          "options": null
        },
        "wu4ntzx9bflwe2d3tj087kk9": {
          "id": "wu4ntzx9bflwe2d3tj087kk9",
          "name": "format_string",
          "friendly_name": "Input",
          "description": "898684295736755267",
          "pin_type": "Input",
          "data_type": "String",
          "schema": null,
          "valid_values": null,
          "value_type": "Normal",
          "depends_on": [],
          "connected_to": [],
          "default_value": [
            34,
            72,
            105,
            32,
            109,
            121,
            32,
            110,
            97,
            109,
            101,
            32,
            105,
            115,
            32,
            123,
            78,
            97,
            109,
            101,
            125,
            44,
            32,
            73,
            32,
            97,
            109,
            32,
            123,
            89,
            101,
            97,
            114,
            115,
            125,
            32,
            111,
            108,
            100,
            46,
            34
          ],
          "index": 1,
          "options": null
        },
        "di7x817ja8cp6y6655ahzp99": {
          "id": "di7x817ja8cp6y6655ahzp99",
          "name": "Years",
          "friendly_name": "Years",
          "description": "16248035215404677707",
          "pin_type": "Input",
          "data_type": "Integer",
          "schema": null,
          "valid_values": null,
          "value_type": "Normal",
          "depends_on": [
            "eycwdwe5ynxltztugh8lrkxg"
          ],
          "connected_to": [],
          "default_value": null,
          "index": 3,
          "options": null
        },
        "p92sgsiqaljimzeb0wdigaur": {
          "id": "p92sgsiqaljimzeb0wdigaur",
          "name": "formatted_string",
          "friendly_name": "Formatted",
          "description": "13193235202995604048",
          "pin_type": "Output",
          "data_type": "String",
          "schema": null,
          "valid_values": null,
          "value_type": "Normal",
          "depends_on": [],
          "connected_to": [
            "czdv2e4auo22lb5imjpzxp8j"
          ],
          "default_value": null,
          "index": 1,
          "options": null
        }
      },
      "start": null,
      "icon": "/flow/icons/string.svg",
      "comment": null,
      "long_running": null,
      "error": null,
      "docs": null
    }
  ] as INode[]} />