@import "tailwindcss";
@import "@astrojs/starlight-tailwind";

:root {
	--sl-color-accent-low: #111111;
	--sl-color-accent: #ff4343;
	--sl-color-accent-high: #ff4343;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #ffffff;
	--sl-color-gray-2: #c8c0be;
	--sl-color-gray-3: #8f8f8f;
	--sl-color-gray-4: #635451;
	--sl-color-gray-5: #454545;
	--sl-color-gray-6: #111111;
	--sl-color-black: #191919;
	--sl-colo-bg-nav: #191919;
	--sl-icon-color: #ffffff;
}

/* Light mode colors. */
:root[data-theme="light"] {
	--sl-color-accent-low: #f2f2f2;
	--sl-color-accent: #ff4343;
	--sl-color-accent-high: #ff4343;
	--sl-color-white: #1d1715;
	--sl-color-gray-1: #302321;
	--sl-color-gray-2: #423432;
	--sl-color-gray-3: #635451;
	--sl-color-gray-4: #978784;
	--sl-color-gray-5: #c8c0be;
	--sl-color-gray-6: #f3ecea;
	--sl-color-gray-7: #f2f2f2;
	--sl-color-black: #ffffff;
	--sl-colo-bg-nav: #f2f2f2;
	--sl-icon-color: #111111;
}

.flow-preview .sl-markdown,
.flow-preview .sl-markdown * {
	margin-top: 0 !important;
}

.flow-preview [class*="sl-"] {
	margin-top: 0 !important;
}

.no-starlight {
	margin-top: 0 !important;
}

table {
	margin-top: 0.5rem;
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 1.5rem;
}

thead th {
	/* muted header row */
	background-color: var(--card);
	color: var(--card-foreground);
	padding: 0.5rem 0.65rem;
	text-align: left;
	font-weight: 600;
}

tbody tr:nth-child(even) td {
	/* zebra stripe */
	background-color: var(--muted) / 0.3;
}

th,
td {
	padding-inline-start: 0.5rem !important;
	padding-inline-end: 0.5rem !important;
	padding: 0.35rem 0.65rem;
	border: 1px solid var(--border);
	background-color: var(--background) / 0.3;
}

td.bg-primary {
	background-color: var(--primary) / 0.1;
	color: var(--primary-foreground);
}

td.bg-secondary {
	background-color: var(--secondary) / 0.1;
	color: var(--secondary-foreground);
}

td.bg-tertiary {
	background-color: var(--tertiary) / 0.1;
	color: var(--tertiary-foreground);
}

td.bg-destructive {
	background-color: var(--destructive) / 0.1;
	color: var(--destructive-foreground);
}
