<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>NSCameraUsageDescription</key>
  <string>Request camera access for WebRTC</string>
  <key>NSMicrophoneUsageDescription</key>
  <string>Request microphone access for WebRTC</string>
  <key>CFBundleIconFile</key>
	<string>icon</string>
	<key>CFBundleIconName</key>
	<string>icon</string>

  <key>NSAppleEventsUsageDescription</key>
  <string>Flow Like automates and integrates with other apps you choose (e.g., Finder) to manage files.</string>
</dict>
</plist>