---
import "@tm9657/flow-like-ui/global.css";
import { BlogFooter } from "../components/blog-footer";
import { BlogHeader } from "../components/blog-header";
import type { CollectionEntry } from 'astro:content';
const { content, data } = Astro.props as { content: any, data: CollectionEntry<'blog'>['data'] };
const pub = data.date;
const upd = data.updated ?? data.date;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{data.title}</title>
    	<meta name="description" content={data.description ?? ''} />
		<meta name="robots" content="index, follow" />

		<meta property="og:title" content={data.title} />
		<meta
			property="og:description"
			content={data.description ?? ''}
		/>
		<meta property="og:image" content={data.cover ?? "/og.webp"} />
		<meta property="og:image:type" content="image/webp" />
		<meta property="og:image:width" content="1280" />
		<meta property="og:image:height" content="898" />

		<meta name="twitter:card" content="summary_large_image" />
		<meta
			name="twitter:title"
			content="Flow-Like | Enterprise Automation"
		/>
		<meta
			name="twitter:description"
			content="Enterprise-grade workflow automation built for scale."
		/>
		<meta name="twitter:image" content={data.cover ?? "/og.webp"} />
	</head>
	<body class="flex flex-col min-h-screen bg-background text-foreground">
		<BlogHeader/>
		<main class="flex flex-col flex-grow py-2 md:py-2 lg:py-6 xl:py-8 2xl:py-16 article prose">
			<slot />
		</main>
		<BlogFooter />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
