---
import "@tm9657/flow-like-ui/global.css";
import { Header } from "../components/header";
import { Footer } from "../components/footer";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Flow-Like | Enterprise Automation</title>
		<meta name="description" content="Enterprise-grade workflow automation built for scale." />
		<meta name="robots" content="index, follow" />

		<meta property="og:title" content="Flow-Like | Enterprise Automation" />
		<meta
			property="og:description"
			content="Enterprise-grade workflow automation built for scale."
		/>
		<meta property="og:image" content="/og.webp" />
		<meta property="og:image:type" content="image/webp" />
		<meta property="og:image:width" content="1600" />
		<meta property="og:image:height" content="900" />

		<meta name="twitter:card" content="summary_large_image" />
		<meta
			name="twitter:title"
			content="Flow-Like | Enterprise Automation"
		/>
		<meta
			name="twitter:description"
			content="Enterprise-grade workflow automation built for scale."
		/>
		<meta name="twitter:image" content="/og.webp" />
	</head>
	<body>
		<Header/>
		<slot />
		<Footer />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
