@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 0 0% 14.9020%;
		--card: 0 0% 100%;
		--card-foreground: 0 0% 14.9020%;
		--popover: 0 0% 100%;
		--popover-foreground: 0 0% 14.9020%;
		--primary: 0 100% 62.9412%;
		--primary-foreground: 0 0% 100%;
		--secondary: 220.0 14.2857% 95.8824%;
		--secondary-foreground: 215 13.7931% 34.1176%;
		--muted: 210 20.0000% 98.0392%;
		--muted-foreground: 220 8.9362% 46.0784%;
		--accent: 0 100.0000% 96.0784%;
		--accent-foreground: 0 83.5443% 30.9804%;
		--destructive: 0 84.2365% 60.1961%;
		--destructive-foreground: 0 0% 100%;
		--border: 220 13.0435% 90.9804%;
		--input: 220 13.0435% 90.9804%;
		--ring: 0 100% 62.9412%;
		--chart-1: 0 92.1569% 50%;
		--chart-2: 0 94.6667% 44.1176%;
		--chart-3: 0 90.4255% 36.8627%;
		--chart-4: 0 83.5443% 30.9804%;
		--chart-5: 0 77.4436% 26.0784%;
		--sidebar: 210 20.0000% 98.0392%;
		--sidebar-foreground: 0 0% 14.9020%;
		--sidebar-primary: 0 100% 62.9412%;
		--sidebar-primary-foreground: 0 0% 100%;
		--sidebar-accent: 0 100.0000% 96.0784%;
		--sidebar-accent-foreground: 0 83.5443% 30.9804%;
		--sidebar-border: 220 13.0435% 90.9804%;
		--sidebar-ring: 0 100% 62.9412%;
		--font-sans: Inter, sans-serif;
		--font-serif: Source Serif 4, serif;
		--font-mono: JetBrains Mono, monospace;
		--radius: 0.3rem;
		--shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
		--shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
		--shadow-sm: 0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 1px 2px -2px
			hsl(0 0% 0% / 0.1);
		--shadow: 0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 1px 2px -2px
			hsl(0 0% 0% / 0.1);
		--shadow-md: 0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 2px 4px -2px
			hsl(0 0% 0% / 0.1);
		--shadow-lg: 0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 4px 6px -2px
			hsl(0 0% 0% / 0.1);
		--shadow-xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 8px 10px -2px
			hsl(0 0% 0% / 0.1);
		--shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);

		--tertiary: 23 100% 63%;
		--tertiary-foreground: 0 0% 100%;
	}

	.dark,
	:root[data-theme="dark"] {
		--background: 0 0% 10%;
		--foreground: 0 0% 100%;
		--card: 0 0% 16%;
		--card-foreground: 0 0% 100%;
		--popover: 0 0% 7%;
		--popover-foreground: 0 0% 100%;
		--primary: 0 100% 63%;
		--primary-foreground: 0 0% 100%;
		--secondary: 0 0% 73%;
		--secondary-foreground: 0 0% 10%;
		--tertiary: 23 100% 63%;
		--tertiary-foreground: 0 0% 100%;
		--muted: 0 0% 27%;
		--muted-foreground: 0 0% 56%;
		--accent: 0 0% 16%;
		--accent-foreground: 0 0% 100%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 85.7% 97.3%;
		--border: 0 0% 27%;
		--input: 0 0% 27%;
		--ring: 0 100% 63%;

		--chart-1: 0 100% 63%;
		--chart-2: 21 89% 67%;
		--chart-3: 23 100% 63%;
		--chart-4: 94 40% 67%;
		--chart-5: 161 40% 44%;

		--sidebar-background: var(--popover);
		--sidebar-foreground: var(--popover-foreground);
		--sidebar-primary: var(--primary);
		--sidebar-primary-foreground: var(--primary-foreground);
		--sidebar-accent: var(--accent);
		--sidebar-accent-foreground: var(--accent-foreground);
		--sidebar-border: var(--border);
		--sidebar-ring: var(--ring);

		--font-sans: Inter, sans-serif;
		--font-serif: Source Serif 4, serif;
		--font-mono: JetBrains Mono, monospace;
		--radius: 0.3rem;
		--shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
		--shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
		--shadow-sm: 0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 1px 2px -2px
			hsl(0 0% 0% / 0.1);
		--shadow: 0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 1px 2px -2px
			hsl(0 0% 0% / 0.1);
		--shadow-md: 0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 2px 4px -2px
			hsl(0 0% 0% / 0.1);
		--shadow-lg: 0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 4px 6px -2px
			hsl(0 0% 0% / 0.1);
		--shadow-xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 8px 10px -2px
			hsl(0 0% 0% / 0.1);
		--shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);

		.shiki,
		.shiki span {
			color: var(--shiki-dark) !important;
			background-color: var(--shiki-dark-bg) !important;
			/* Optional, if you also want font styles */
			font-style: var(--shiki-dark-font-style) !important;
			font-weight: var(--shiki-dark-font-weight) !important;
			text-decoration: var(--shiki-dark-text-decoration) !important;
		}
	}

	*::-webkit-scrollbar {
		width: 8px;
		height: 8px;
	}

	*::-webkit-scrollbar-track {
		background: hsl(var(--background));
		border-color: hsl(var(--border) / 0.3);
		border-width: 1px;
		border-style: solid;
		border-radius: 0.5rem;
	}

	*::-webkit-scrollbar-thumb {
		background: hsl(var(--foreground) / 0.5);
		border-radius: 0.5rem;
	}

	*::-webkit-scrollbar-thumb:hover {
		background: hsl(var(--primary));
		border-radius: 0.5rem;
	}

	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
	}

	.icon {
		fill: hsl(var(--foreground)) !important;
		color: hsl(var(--foreground)) !important;
	}

	.icon svg {
		fill: hsl(var(--foreground)) !important;
		color: hsl(var(--foreground)) !important;
	}

	.icon path {
		fill: hsl(var(--foreground)) !important;
		color: hsl(var(--foreground)) !important;
	}

	.icon text {
		fill: hsl(var(--foreground)) !important;
		color: hsl(var(--foreground)) !important;
	}

	pre[class*="shiki"][class*="shiki-themes"] {
		position: relative;
		padding: 0.75rem;
		margin-top: 1rem;
		margin-bottom: 1rem;
		border-radius: 0.5rem;
		border-color: hsl(var(--border));
		border-width: 1px;
		max-width: 100%;
		overflow-x: auto;
	}

	[class*="language-"] code .diff {
		transition: background-color .5s;
		margin: 0 -24px;
		padding: 0 24px;
		width: calc(100% + 48px);
		display: inline-block;
	}

	[class*="language-"] code .diff:before {
		position: absolute;
		left: 10px;
	}

	[class*="language-"] code .diff.remove {
		background-color: var(--destructive) !important;
		opacity: 0.7;
	}

	.copy-code-button {
		position: absolute;
		top: 0;
		right: 0;
		margin-top: 0.5rem;
		margin-right: 0.5rem;
		padding: 0.5rem;
		border-radius: 0.5rem;
		border-color: hsl(var(--accent-foreground));
		border-width: 1px;
		background-color: hsl(var(--accent));
		color: hsl(var(--accent-foreground));
		transition: all 0.2s;
	}

	.copy-code-button:hover {
		border-color: hsl(var(--accent));
		background-color: hsl(var(--accent-foreground));
		color: hsl(var(--accent));
	}

	h1 {
		letter-spacing: -.025em;
		font-weight: 800;
		font-size: 2.25rem;
		line-height: 2.5rem;
		scroll-margin: 5rem;
	}

	h2 {
		letter-spacing: -.025em;
		font-weight: 600;
		font-size: 1.875rem;
		line-height: 2.25rem;
		scroll-margin: 5rem;
	}

	h3 {
		letter-spacing: -.025em;
		font-weight: 600;
		font-size: 1.5rem;
		line-height: 2rem;
		scroll-margin: 5rem;
	}

	h4 {
		letter-spacing: -.025em;
		font-weight: 600;
		font-size: 1.25rem;
		line-height: 1.75rem;
		scroll-margin: 5rem;
	}

	p {
		line-height: 1.75rem;
	}

	.invisible-scroll::-webkit-scrollbar {
		display: none;
	}

	.md-wrapper {
		color: white;
	}

	.md-wrapper > *:first-child {
		margin-top: 0 !important;
		padding-top: 0 !important;
	}

	.highlight {
		animation: highlight-anim 3s linear infinite;
		background: linear-gradient(
			90deg,
			hsl(var(--primary)) 50%,
			hsl(var(--tertiary)) 75%,
			hsl(var(--primary)) 100%
		);
		background-size: 200%;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-shadow: 0 0 20px hsl(var(--primary, 0.1));
	}

	@keyframes highlight-anim {
		0% {
			background-position: 0;
			text-shadow: 0 0 15px hsl(var(--primary, 0.1));
		}

		50% {
			background-position: -200%;
			text-shadow: 0 0 15px hsl(var(--tertiary, 0.1));
		}

		100% {
			background-position: 0;
			text-shadow: 0 0 15px hsl(var(--primary, 0.1));
		}
	}

	table {
		margin-top: 0.5rem;
		width: 100%;
		border-collapse: collapse;
		margin-bottom: 1.5rem;
	}

	thead th {
		/* muted header row */
		background-color: hsl(var(--card));
		color: hsl(var(--card-foreground));
		padding: 0.35rem 0.65rem;
		text-align: left;
		font-weight: 600;
	}

	tbody tr:nth-child(even) td {
		/* zebra stripe */
		background-color: hsl(var(--muted) / 0.3);
	}

	th,
	td {
		padding: 0.35rem 0.65rem;
		border: 1px solid hsl(var(--border));
		background-color: hsl(var(--background) / 0.3);
	}

	td.bg-primary {
		background-color: hsl(var(--primary) / 0.1);
		color: hsl(var(--primary-foreground));
	}

	td.bg-secondary {
		background-color: hsl(var(--secondary) / 0.1);
		color: hsl(var(--secondary-foreground));
	}

	td.bg-tertiary {
		background-color: hsl(var(--tertiary) / 0.1);
		color: hsl(var(--tertiary-foreground));
	}

	td.bg-destructive {
		background-color: hsl(var(--destructive) / 0.1);
		color: hsl(var(--destructive-foreground));
	}
}

.react-flow__nodesselection-rect {
	display: none;
}
