@import 'tailwindcss';
@source "./components/**/*.{ts,tsx}";
@source "./hooks/**/*.{ts,tsx}";
@source "./lib/**/*.{ts,tsx}";
@source "./state/**/*.{ts,tsx}";
@source "./pages/**/*.{ts,tsx}";
@source "./src/**/*.{ts,tsx}";
@source "./app/**/*.{ts,tsx}";

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.2686 0 0);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2686 0 0);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2686 0 0);
  --primary: oklch(0.6616 0.2249 25.8784);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9670 0.0029 264.5419);
  --secondary-foreground: oklch(0.4461 0.0263 256.8018);
  --tertiary: oklch(75.285% 0.15368 64.1);
  --tertiary-foreground: oklch(100% 0.00011 271.152);
  --muted: oklch(0.9846 0.0017 247.8389);
  --muted-foreground: oklch(0.5510 0.0234 264.3637);
  --accent: oklch(0.9560 0.0218 17.5403);
  --accent-foreground: oklch(0.4184 0.1631 28.1581);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9276 0.0058 264.5313);
  --input: oklch(0.9276 0.0058 264.5313);
  --ring: oklch(0.6616 0.2249 25.8784);
  --chart-1: oklch(0.6113 0.2478 28.9654);
  --chart-2: oklch(0.5613 0.2282 29.0252);
  --chart-3: oklch(0.4845 0.1945 28.7525);
  --chart-4: oklch(0.4184 0.1631 28.1581);
  --chart-5: oklch(0.3648 0.1363 27.3683);
  --sidebar: oklch(0.9846 0.0017 247.8389);
  --sidebar-foreground: oklch(0.2686 0 0);
  --sidebar-primary: oklch(0.6616 0.2249 25.8784);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9560 0.0218 17.5403);
  --sidebar-accent-foreground: oklch(0.4184 0.1631 28.1581);
  --sidebar-border: oklch(0.9276 0.0058 264.5313);
  --sidebar-ring: oklch(0.6616 0.2249 25.8784);
  --font-sans: Inter, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.3rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2178 0 0);
  --foreground: oklch(1.0000 0 0);
  --card: oklch(0.2809 0 0);
  --card-foreground: oklch(1.0000 0 0);
  --popover: oklch(0.1822 0 0);
  --popover-foreground: oklch(1.0000 0 0);
  --primary: oklch(0.6616 0.2249 25.8784);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.7889 0 0);
  --secondary-foreground: oklch(0.2178 0 0);
  --tertiary: oklch(75.285% 0.15368 64.1);
  --tertiary-foreground: oklch(100% 0.00011 271.152);
  --muted: oklch(0.3904 0 0);
  --muted-foreground: oklch(0.6500 0 0);
  --accent: oklch(0.2809 0 0);
  --accent-foreground: oklch(1.0000 0 0);
  --destructive: oklch(0.3958 0.1331 25.7230);
  --destructive-foreground: oklch(0.9705 0.0129 17.3797);
  --border: oklch(0.3904 0 0);
  --input: oklch(0.3904 0 0);
  --ring: oklch(0.6616 0.2249 25.8784);
  --chart-1: oklch(0.6616 0.2249 25.8784);
  --chart-2: oklch(0.7587 0.1362 47.7950);
  --chart-3: oklch(0.7520 0.1643 49.8905);
  --chart-4: oklch(0.8034 0.1008 132.5412);
  --chart-5: oklch(0.6333 0.0966 169.8758);
  --sidebar: oklch(0.2050 0 0);
  --sidebar-foreground: var(--popover-foreground);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: var(--accent);
  --sidebar-accent-foreground: var(--accent-foreground);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);
  --font-sans: Inter, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.3rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-tertiary: var(--tertiary);
  --color-tertiary-foreground: var(--tertiary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}

	*::-webkit-scrollbar {
		width: 8px;
		height: 8px;
	}

	*::-webkit-scrollbar-track {
		background: var(--background);
		border-color: var(--border) / 0.3;
		border-width: 1px;
		border-style: solid;
		border-radius: 0.5rem;
	}

	*::-webkit-scrollbar-thumb {
		background: var(--foreground) / 0.5;
		border-radius: 0.5rem;
	}

	*::-webkit-scrollbar-thumb:hover {
		background: var(--primary);
		border-radius: 0.5rem;
	}

	.scrollbar-hide {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}

	.scrollbar-hide::-webkit-scrollbar {
		display: none;
	}

	.icon {
		fill: var(--foreground) !important;
		color: var(--foreground) !important;
	}

	.icon svg {
		fill: var(--foreground) !important;
		color: var(--foreground) !important;
	}

	.icon path {
		fill: var(--foreground) !important;
		color: var(--foreground) !important;
	}

	.icon text {
		fill: var(--foreground) !important;
		color: var(--foreground) !important;
	}

	.invisible-scroll::-webkit-scrollbar {
		display: none;
	}

	.highlight {
		animation: highlight-anim 3s linear infinite;
		background: linear-gradient(
			90deg,
			var(--primary) 50%,
			var(--tertiary) 75%,
			var(--primary) 100%
		);
		background-size: 200%;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-shadow: 0 0 20px var(--primary, 0.1);
	}

	@keyframes highlight-anim {
		0% {
			background-position: 0;
			text-shadow: 0 0 15px var(--primary, 0.1);
		}

		50% {
			background-position: -200%;
			text-shadow: 0 0 15px var(--tertiary, 0.1);
		}

		100% {
			background-position: 0;
			text-shadow: 0 0 15px var(--primary, 0.1);
		}
	}

	table {
		margin-top: 0.5rem;
		width: 100%;
		border-collapse: collapse;
		margin-bottom: 1.5rem;
	}

	thead th {
		/* muted header row */
		background-color: var(--card);
		color: var(--card-foreground);
		padding: 0.35rem 0.65rem;
		text-align: left;
		font-weight: 600;
	}

	tbody tr:nth-child(even) td {
		/* zebra stripe */
		background-color: var(--muted) / 0.3;
	}

	th,
	td {
		padding: 0.35rem 0.65rem;
		border: 1px solid var(--border);
		background-color: var(--background) / 0.3;
	}

	td.bg-primary {
		background-color: var(--primary) / 0.1;
		color: var(--primary-foreground);
	}

	td.bg-secondary {
		background-color: var(--secondary) / 0.1;
		color: var(--secondary-foreground);
	}

	td.bg-tertiary {
		background-color: var(--tertiary) / 0.1;
		color: var(--tertiary-foreground);
	}

	td.bg-destructive {
		background-color: var(--destructive) / 0.1;
		color: var(--destructive-foreground);
	}
}

.react-flow__nodesselection-rect {
	display: none;
}
